<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/styles.css" rel="stylesheet">

</head>
<body>
    <h1>
        BRANCH
    </h1>
    <ul>
        <% for (b of branchs) { %>

            <h5>item Id: <%=  b.maneger %> </h5>
            <h5>branch Id: <%=  b.branchId %> </h5>
            <h5>adress: <%= b.adress %> </h5>

        <% } %>
    </ul>
</body>
</html>